:root {
  --cube-size: 44vw;
  --cube-half: calc(var(--cube-size) / 2);
}

@media (min-width: 500px) {
  :root {
    --cube-size: 33vw;
  }
}

@media (min-width: 800px) {
  :root {
    --cube-size: 33vh;
  }
}

.scene {
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: 1000px;
}

.cube {
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
  /* font-size: 20%; */
}

.cube.transitioning {
  transition: transform 1s ease-in-out;
}

.cube-face {
  backface-visibility: visible;
  transform-origin: center;
  font-size: calc(var(--cube-size) / 8);
  color: black;
}

.cube-face.front {
  transform: translateZ(var(--cube-half));
}

.cube-face.back {
  transform: translateZ(calc(var(--cube-half) * -1)) rotateY(180deg);
}

.cube-face.right {
  transform: translateX(var(--cube-half)) rotateY(90deg);
}

.cube-face.left {
  transform: translateX(calc(var(--cube-half) * -1)) rotateY(-90deg);
}

.cube-face.top {
  transform: translateY(calc(var(--cube-half) * -1)) rotateX(90deg);
}

.cube-face.bottom {
  transform: translateY(var(--cube-half)) rotateX(-90deg);
}
