@import "tailwindcss";

@font-face {
  font-family: "Recursive";
  src: url("/fonts/Recursive_VF_1.085.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Recursive", sans-serif;
}
